.bus_number_section {
    display: flex;
    margin-top: 0.5rem;
}

.bus_number {
    margin-left: 0.5rem;
    background-color: #b8860b;
    padding: 0.1rem 0.2rem;
    border-radius: 3px;
}

.from_to_arrow {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
}


.drop_down_menu {
    padding: 8px 15px;
    border-radius: 50px;
    color: white;
    border: 1px solid #fafad2;
    background-color: #2C2C2C;
    font-size: 14px;
    outline: none;
    width: 30%;
}

@media(max-width: 768px) {
    .drop_down_menu {
        width: 80%;
    }
}


.select-wrapper {
    position: relative;
    width: 30%;
}

@media(max-width: 768px) {
    .select-wrapper {
        width: 80%;
    }
}

/* remove native arrow */
.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    padding-right: 40px;
    /* space for arrow + gap */
}

/* custom V arrow */
.select-wrapper::after {
    content: "";
    position: absolute;
    right: 15px;
    /* ✅ THIS is your 5px space */
    top: 50%;

    width: 5px;
    height: 5px;

    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;

    transform: translateY(-50%) rotate(45deg);
    pointer-events: none;
}


.bus_bus_only {
    background-image:
        linear-gradient(rgba(0, 0, 0.1, 0.8),
            rgba(0.7, 0.7, 0.7, 0.76)),
        url("../../../assets/bus_background_img.webp");

    background-size: 50%;
    background-position: center top;
}

@media(max-width: 768px) {
    .bus_bus_only {
        background-image:
            linear-gradient(rgba(0, 0, 0.1, 0.76),
                rgba(0.7, 0.7, 0.7, 0.66)),
            url("../../../assets/bus_background_img.webp");

        background-size: 60%;
        background-position: center top;
    }
}