a{
    text-decoration: none;
}

.no-highlight {
  outline: none;
  text-decoration: none;
}

.no-highlight:focus {
  outline: none;
}

.no-highlight:active {
  outline: none;
  -webkit-tap-highlight-color: transparent; /* removes blue click highlight */
}

.no-highlight:focus-visible {
  outline: none;
}
